@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
@layer base {
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply text-black;
  }
  p {
    @apply leading-[24px];
  }
  body {
    @apply text-sm lg:text-base text-gray bg-gray/10;
  }
}

/**
 * This injects Tailwind's component classes and any component classes
 * registered by plugins.
 */
@layer components {
  .card-container {
    @apply flex flex-col items-center text-center px-6 py-8 lg:p-10 border border-gray/20 rounded-lg bg-white;
  }

  .pledge-container {
    @apply flex flex-col px-6 py-6 border border-gray/40 rounded-lg bg-white;
  }

  .dialog__form-container {
    @apply w-full max-w-[46rem] mx-auto px-6 py-8 space-y-6 rounded-lg bg-white overflow-scroll;
  }

  .dialog__thanks-container {
    @apply w-full max-w-[33.5rem] flex flex-col items-center rounded-lg bg-white px-6 py-10 lg:p-10 text-center;
  }
}

/**
  * This injects Tailwind's utility classes and any utility classes registered
  * by plugins.
  */
@layer utilities {
  .disabled {
    @apply opacity-50 pointer-events-none;
  }

  .absolute-divide-y > :not(:last-child) {
    @apply after:content-[""] after:absolute after:inset-auto after:bottom-0 after:left-1/4 after:w-1/2 after:h-px after:bg-gray/40;
  }

  .absolute-divide-x > :not(:last-child) {
    @apply after:content-[""] after:absolute after:inset-auto after:bottom-0 after:right-0 after:w-px after:h-5/6 after:bg-gray/40;
  }
}
